.events-page {
  overflow-x: hidden;
}

.events-body {
  padding-left: 5vw;
}

.events-header {
  color: var(--Main-Blue, #051e4f);
  /* Title */
  font-family: ivymode;
  font-size: 3rem;
  font-style: normal;
  font-weight: 350;
  line-height: 100%; /* 3rem */
}

.vector {
  height: 25%;
  width: 90vw;
}

.all-initiatives-header {
  height: 10vh;
}

.title {
  color: var(--Main-Blue, #051e4f);
  /* Title */
  font-family: var(--fonting, "ivymode");
  font-size: 3rem;
  font-style: normal;
  font-weight: 350;
  line-height: 100%; /* 3rem */
}
