:root {
  --fonting: "ivymode"
  --background-color: #FAE5E2;
  --Main-Blue:#0c2b56;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}



body {
  font-family: var(--fonting);
  background-color: var(--background-color);
  cursor: none;
}

a, .interactable {
  cursor: none;
}